.App {
}

.text-align-center {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header2 {
  text-align: center;
  padding: 20px;
  color: #f8f8f8;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  font-size:18px;
  background: #00468b;
}

.btn-right {
  margin-left: 24%;
}

.App-intro {
  font-size: large;
}
.Transf-info{
  padding-top: 25px;
}

.paragraph{
  text-align: justify;
  font-family:OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style:normal;
  font-stretch: normal;
  color:#7a7a7a;
  padding-top: 45px
}
.paragraph2{
  text-align: left;
  font-family:OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style:normal;
  font-stretch: normal;
  color:#7a7a7a;
  padding-top: 25px;
  padding-bottom: 10px
}
.paragraph3{
  text-align: center;
  font-family:OpenSans;
  font-size: 14px;
  font-weight: normal;
  color:#7a7a7a;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login-password{
  margin-top: 20px;
  width: 390px;
}

.login-username{
  width: 260px;
  padding: 10px;
}

.icons-box{
  width: 260px;
  padding: 10px;
}
.transference-form{
  width: 260px;
  padding: 10px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-bank{
  margin-top: 10px;
  width: 240px;
  height: 55px;
  border-radius: 3px;
  border: 3px;
  background-color: #00468b;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #f8f8f8;
  background-color: #00468b;
}

.btn-next-transf{
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border: 3px;
  background-color: #00468b;

  font-size: 14px;
  font-weight: bold;
  color: #f8f8f8;
}

.btn-prev-transf{
  width: 100px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 3px #ca003f;

  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ca003f;
}

.menu-image{
  margin-right: 30px;
}

.header-space{
  margin-top: 20px;
  margin-bottom: 20px;
}

.l-right{
  float: right
}

.l-left{
  float: left;
}

.l-center{
  float: center
}


.last-connection{
  font-family: OpenSans;
  font-size: 10px;
  font-stretch: normal;
  color: #606060;
}

.vertical-horizontal-center{
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  text-align: center;
}

.icon {
  margin-top: 5px;
  margin-right: 5px;
}

.input-username{
  width: 215px;
  border: none;
  outline: none;
  margin-top: 3px;
}

.footer > footer {
  position: static;
}

footer{
  background-image: url("./images/waves-20-largo.svg");
  width: 100%;
  height: 222px;
  position: fixed;
  bottom: 0;
}

.security-info{
  color: #ca003f;
}

.nav{
  width: 249px;
  background-color: white;
  position: absolute;
  bottom: 0;
  top: calc(107px - 36px);
  margin-top: 37px;
  z-index: 100;
  border-right: 1px solid #ebe9ea;
  border-left: 1px solid #ebe9ea;
  border-bottom: 1px solid #ebe9ea;
}

.nav-bar{
  border-bottom: 1px solid #ebe9ea;
}
.nav-section{
}

.nav-section--links{
  list-style-type: square;

}

.nav-section--links>li>a{
  margin-top: -10px;
  color: #414141;
}

.nav-section--header{
  font-family: OpenSans-Semibold;
  font-size: 10px;
  color: #800229;
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 15%
}
.icon-header{
    text-align: center;
    border: 3px solid #00468b;
    border-radius: 100%;
    margin: 8px;
    padding: 10px;
    color: #00468b;
    background: white;
    height: 50px;
    width: 50px;
    font-size:25px;
}
.positionIcons{
    z-index: 3;
    position: absolute;
    margin-left: 2%
}
.external{
  background-color: #f8f8f8;
  height: calc(100vh - 108px);
}
.internal{
  background-color: #ffffff;
  border:solid 1px #ebe9ea;
  position: relative;
  z-index: 1;
  padding-bottom: 40px
}

.nav-section--links:hover {
    background-color: #00468b;
    color: whitesmoke;
}

.login-border{
  border-bottom: 1px solid #00468b;
  padding-bottom: 15px;
}
